/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 5rem 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionContent {
  font-size: 1.2rem;
  line-height: 1.6;
}
